body {background-color: rgb(250, 250, 250)}

.header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(250, 250, 250);
  z-index: +1;
}

.div1 {
    background-color: lightblue;    
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    border-style: solid;
    border-color:rgb(250, 250, 250);
    border-width: 5px;
  }

 
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    color: rgb(5, 5, 5);
    font-family: Helvetica;
    font-size: 300%;
    margin-top: 50px;
  }

  h2 {
    color: rgb(5, 5, 5);
    font-family: Helvetica;
    text-align: center;
    font-size: 150%;
    margin-left: 10px;
    margin-right: 10px;

  }

  p {
    color: rgb(5, 5, 5);
    font-family: Helvetica;
    font-size: 90%;
  }
  
  .fa {
    padding: 30px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-github {
    color: rgb(5, 5, 5);
  }
  
  .fa-linkedin {
    color: rgb(5, 5, 5);
  }

  a {
    text-align:center;
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-family: Helvetica;
    font-size: 80%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 910px) {
    .column {
      width: 100%;
    }
  }

  .button {
    cursor: pointer;
    position: relative;
    top: 50%;
    
  }
  